.mouse-cursor-gradient-tracking {
    position: relative;
    overflow: hidden;
  }
  
  .mouse-cursor-gradient-tracking div {
    position: relative;
    pointer-events: none;
  }
  
  .mouse-cursor-gradient-tracking::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgba(126, 195, 241, 0.308), transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
  
  .mouse-cursor-gradient-tracking:hover::before {
    --size: 600px;
  }